<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Ingresando como Transportista</h2>
      <!-- estrella-->
      <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>

      <form id="reg-form">
        <input type="text" autocomplete="off" id="username" placeholder="Username">
        <p></p>
        <input type="password" autocomplete="off" id="password" placeholder="Password">
        <p></p>
        <input type="submit" value="Ingresar" routerLink="/transporteMenu">
        </form>

      <!--
<div class="containerRegistro">
<div class="row">
    <div class="col-25">
      <label for="lname">Correo Electronico</label>
    </div>
    <div class="email-container">
      <mat-form-field appearance="fill">
        <mat-label>Ingresa tu correo</mat-label>
        <input matInput placeholder="pat@example.com" formControl="email" required>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="lname">Contraseña</label>
    </div>
    <div class="ContrasenaRegistro">
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="3 o más digitos" required type="password">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <a routerLink="/productosMenu"><input type="submit" value="Iniciar Sesion" ></a>
  </div>
-->
  <div class="row justify-content-center">
    <div class="login-page">
        <div class="form">
            <p class="message">No estas registrado? <a href="registro.html">Crea una cuenta</a></p>    
        </div>
      </div>
 </div> 
