<h1>Ingresando como usuario Comprador</h1>

<div class="containerRegistro">
<div class="row">
    <div class="col-25">
      <label for="lname">Correo Electronico</label>
    </div>
    <div class="email-container">
      <mat-form-field appearance="fill">
        <mat-label>Ingresa tu correo</mat-label>
        <input matInput placeholder="pat@example.com" formControl="email" required>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="lname">Contraseña</label>
    </div>
    <div class="ContrasenaRegistro">
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="3 o más digitos" required type="password">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <a routerLink="/productosMenu"><input type="submit" value="Iniciar Sesion" ></a>
  </div>

  <div class="row justify-content-center">
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input type="email" placeholder="Email"/>
            <input type="password" placeholder="Contraseña"/>
            <button>Aceptar</button>
            <p class="message">No estas registrado? <a href="registro.html">Create una cuenta</a></p>
          </form>
        </div>
      </div>
</div>

</div>